<div class="container">
    <div class="col-md-4 mb-3">
      <input 
        type="number" 
        class="form-control" 
        [(ngModel)]="annee" 
        (change)="loadBoxesByYear(annee)"
        placeholder="Entrez une année (ex: 2025)">
    </div>
  
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-3 col-3 mb-4" *ngFor="let box of boxes">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ getMonthName(box.mois) }}</h5>
            <span 
              class="badge" 
              [ngClass]="box.statut === 'OUVERTE' ? 'bg-success' : 'bg-danger'">
              {{ box.statut === 'OUVERTE' ? 'Ouvert' : 'Fermé' }}
            </span>
  
            <p class="mt-2">
              {{ statistiquesByBox[box.id]?.traites || 0 }} traité(s),
              {{ statistiquesByBox[box.id]?.nonTraites || 0 }} non traité(s)
            </p>
            <button class="btn btn-primary" (click)="openDocuments(box.id)">
              Voir les documents
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  