<div class="width_">
  <div *ngIf="showLayout">
      <div class="navbare">
      <div class="logo">ArcHivi</div>
      <div class="elements" [ngClass]="{'expanded': showSubjects}">
          <a routerLink="/box" class="university" (click)="setActive($event, 'box')" [ngClass]="{'active': isActive('box')}">Box Mensuelle</a>
          <a routerLink="/fichier" class="university" (click)="setActive($event, 'fichier')" [ngClass]="{'active': isActive('fichier')}">Fichier Budgetaire</a>
          <a href="javascript:void(0);" (click)="logout()" class="logout"><i class="bi bi-box-arrow-right"></i></a>
      </div>
  </div>
  </div>
  <div class="content">
      <router-outlet></router-outlet>
  </div>
</div>