/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
ng-dropdown-panel .ng-dropdown-panel-items {
  max-height: 200px !important;
  overflow-y: auto !important;
  width: 95%;
  margin-top: 2%;
}

ng-dropdown-panel .ng-option {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #eee;
}

ng-dropdown-panel .ng-option:hover {
  background-color: silver;
}

.custom-item {
  width: 100%;
  display: flex;
  align-items: center;
}
/* Personnaliser SweetAlert2 */
.swal2-popup {
  width: 380px !important;   /* ✅ Largeur personnalisée */
  height: 400 !important;   /* Hauteur auto ou fixe si tu veux */
  padding: 2em !important;   /* Optionnel : pour plus d’espace */
  font-size: 1.1rem !important; /* Optionnel : pour agrandir le texte */
}

/* Exemple pour une boîte plus grande */
.swal2-popup.swal2-toast {
  width: 400px !important;
}
