
<app-ajouter-fichier (fichierAdded)="onFichierAdded($event)"></app-ajouter-fichier>
<app-modifier-fichier
  *ngIf="fichierAModifier"
  [fichier]="fichierAModifier"
  #modifierFichierModal>
</app-modifier-fichier>
<div class="containere1">
  <h2>Liste des Fichiers Budgétaires</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>NnomEtablissement</th>
          <th>Fichier</th>
          <th>Date de Réception</th>
          <th>Traité</th>
          <th>Box liée</th>
          <th>referenceLettre</th>
          <th>objet</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fichier of fichiers">
          <td>{{ fichier.nomEtablissement }}</td>
          <td>
            <!-- Lien vers le fichier avec target="_blank" pour ouvrir dans un nouvel onglet -->
            <a [href]="getFichierUrl(fichier.fichier)" target="_blank">
              Ouvrir le fichier
            </a>
          </td>
          <td>{{ fichier.dateReception }}</td>
          <td>{{ fichier.traiter ? 'Oui' : 'Non' }}</td>
          <td>{{ fichier.box?.nom || 'Non assignée' }}</td>
          <td>{{ fichier.referenceLettre }}</td>
          <td>{{ fichier.objet }}</td>
          <td>
            <button class="btn btn-warning btn-sm mr-4" data-bs-toggle="modal" data-bs-target="#modifierFichierModal" (click)="ouvrirModalModification(fichier)">
              Modifier
            </button>
            <button class="btn btn-danger btn-sm" (click)="supprimerFichier(fichier.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
